name: Tech Pulse Auto Bot

on:
  schedule:
    # هاد السطر كينشر كل 3 ساعات (00:00, 03:00, 06:00...)
    - cron: '0 */3 * * *'
  workflow_dispatch:
    # باش تقدر تخدمو بيدك وقتما بغيتي

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tweepy google-generativeai requests beautifulsoup4

      - name: Run Bot
        env:
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_SECRET: ${{ secrets.TWITTER_API_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          SMART_LINK: ${{ secrets.SMART_LINK }}
        run: python bot_cron.py
